<div class="one-activity">
  <%= gravatar_for @user %>
<%#= Activityモデルのaction_typeが"followed"の場合 %>
<% if activity.action_type == "followed" %>
  <%#= ユーザーが自分のページを見ている場合 %>
  <% if current_user == @user %>
    <%#= ユーザーが他のユーザーにアクションを起こした場合 %>
    <% if current_user.id == activity.user_id %>
      <%= link_to 'You', user_path(current_user) %> followed <%= link_to activity.passive_user.name, user_path(activity.passive_user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago<br />
    <%#= 他のユーザーがユーザーにアクションを起こした場合 %>
    <% else %>
      <%= link_to 'You', user_path(current_user) %> were followed by <%= link_to activity.user.name, user_path(activity.user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago<br />
    <% end %>
  <%#= ユーザーが他のユーザーのページを見ている場合 %>
  <% else %>
    <%#= ユーザーが他のユーザーにアクションを起こした場合 %>
    <% if current_user.id == activity.user_id %>
      <%= link_to activity.passive_user.name, user_path(activity.passive_user) %> was followed by <%= link_to 'you', user_path(current_user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago<br />
    <%#= 他のユーザーがユーザーにアクションを起こした場合 %>
    <% else %>
      <%= link_to activity.user.name, user_path(activity.user) %> followed <%= link_to 'You', user_path(current_user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago<br />
    <% end %>
  <% end %>
<%#= Activityモデルのaction_typeが"unfollowed"の場合 %>
<% elsif activity.action_type == "unfollowed" %>
  <%#= ユーザーが自分のページを見ている場合 %>
  <% if current_user == @user %>
    <%#= ユーザーが他のユーザーにアクションを起こした場合 %>
    <% if current_user.id == activity.user_id %>
      <%= link_to 'You', user_path(current_user) %> unfollowed <%= link_to activity.passive_user.name, user_path(activity.passive_user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago <br />
    <%#= 他のユーザーがユーザーにアクションを起こした場合 %>
    <% else %>
      <%= link_to 'You', user_path(current_user) %> were unfollowed by <%= link_to activity.user.name, user_path(activity.user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago<br />
    <% end %>
  <%#= ユーザーが他のユーザーのページを見ている場合 %>
  <% else %>
    <%#= ユーザーが他のユーザーにアクションを起こした場合 %>
    <% if current_user.id == activity.user_id %>
      <%= link_to activity.passive_user.name, user_path(activity.passive_user) %> was unfollowed by <%= link_to 'you', user_path(current_user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago <br />
    <%#= 他のユーザーがユーザーにアクションを起こした場合 %>
    <% else %>
      <%= link_to activity.user.name, user_path(activity.user) %> unfollowed <%= link_to 'You', user_path(current_user) %><br />
      <%= time_ago_in_words(activity.created_at) %> ago <br />
    <% end %>
  <% end %>
<% else %>
  <%#= ユーザーが自分のページを見ている場合 %>
  <% if current_user == @user %>
    <%= link_to 'You', user_path(@user) %> learned <%= activity.answer_count %> of <%= activity.count %> in <%= activity.category.title %><br />
    <%= time_ago_in_words(activity.created_at) %> ago<br />
  <%#= ユーザーが他のユーザーのページを見ている場合 %>
  <% else %>
    <%= link_to @user.name, user_path(@user) %> learned <%= activity.answer_count %> of <%= activity.count %> in <%= activity.category.title %><br />
    <%= time_ago_in_words(activity.created_at) %> ago<br />
  <% end %>
<% end %>
</div>