<div class="row">
  <aside class="col-md-4 user-sidebar">
    <section class="user_info">
      <h1 id="user_show">
        <p><%= gravatar_for @user %></p>
        <p class="user-name"><%= @user.name %></p>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
    <section>
      <%= link_to "#{ pluralize(@category_count, "category") } learned", category_user_path(@user), class: "categories-learned" %>
      <%= link_to "#{ pluralize(@word_count, "word") } learned", word_user_path(@user), class: "words-learned" %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="activity-container">
      <h2 class="margin-top-zero">Activities</h2>
      <%= render partial: 'users/activity', collection: @activities %>
    </div>
    <%= will_paginate @activities %>
  </div>
</div>