<h1><%= @category.title %></h1>
<p class="center"><%= @category.description %></p>
<p><span>Result: <%= @correct_count %> of <%= @count %></span></p>
<div class="container">
  <%= will_paginate @words %>
  <table id="words">
    <thead>
      <tr>
        <th>Word</th>
        <th>Correct Answer</th>
        <th>Your Answer</th>
        <th>Correctness</th>
      </tr>
    </thead>
    
    <tbody>
      <%= render partial: 'lessons/lesson_word', collection: @lesson_words %>
    </tbody>
  </table>
  <%= will_paginate @words %>
  <br />
</div>